.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #eadfdf;
}
::-webkit-scrollbar-thumb{
    background-color: #7d6e6e;
}
.sideWrapper {
  padding: 20px;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.sidebarButton{
    width: 130px;
    border: none;
    padding: 12px;
    border-radius: 7px;
    font-weight: bold;
    background-color: lightskyblue;
}
.sidebarHr{
    margin: 20px 0;
}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
